{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Ultimas Reseñas</h2>
  <table class="table table-striped card-color table-margin mx-auto">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Comentario</th>
        <th>Puntuación</th>
        <th></th>
      </tr>
    </thead>
    <tbody> 
      {% for review in reviews %}
      <tr>
        <td>{{ review.user }}</td>
        <td>{{ review.contenido }}</td>
        <td>{{ review.puntuacion }}</td> 
        <td>{% if request.user.is_superuser %}
        <form method="POST" action="{% url 'eliminar_review' review.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" onclick="confirmarAccion(event)">Eliminar</button>
        </form></td>
      {% endif %} 
      </tr>
      {% endfor %}
    </tbody>
  </table> 

  <div class="container">
    <h2>Crear nueva Reseña</h2>
    <form method="POST" action="{% url 'lista_reviews' producto_id=producto.id %}">
      {% csrf_token %}    
      <div class="form-group">
        <label for="id_contenido" class="text-color table-margin mx-auto">Comentario:</label>
        <textarea name="contenido" id="id_contenido" rows="3" required class="form-control text-orange"></textarea>
      </div>
      <div class="form-group">
        <label for="id_puntuacion" class="text-color mx-auto">Puntuación:</label>
        <div class="rating">
          <input type="hidden" name="puntuacion" id="id_puntuacion">
          <i class="star fas fa-star" data-value="1"></i>
          <i class="star fas fa-star" data-value="2"></i>
          <i class="star fas fa-star" data-value="3"></i>
          <i class="star fas fa-star" data-value="4"></i>
          <i class="star fas fa-star" data-value="5"></i>
        </div>
      </div>  
      <button type="submit" class="btn btn-primary" onclick="confirmarAccion(event)">Agregar Reseña</button>
    </form>
    <a href="{% url 'products' %}" class="btn btn-secondary mt-3">Volver a Productos</a>
  </div> 
  
  

  <!-- Cargar la biblioteca de Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Cargar la biblioteca de jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Cargar el archivo de JavaScript -->
  <script src="{% static 'js/rating.js' %}"></script>
  <script src="{% static 'js/confirmar.js' %}"></script>
{% endblock %}
