.pantalla-emergente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Cambia el valor del canal alfa */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenido {
    background-color: #252525;
    padding: 20px;
    text-align: center;
    color: orangered;
  }
  